*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;

}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;

}

p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;

}

.col-2 img{
    max-width: 63%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transform: background 0.5s;
}

.btn:hover{
    background:#563434;
}

.header{
    background:radial-gradient(#fff,#fac376);
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 5px;
    transition: transform 0.7s;
}

.col-4 img{
    width: 100%;
}
/*----------------NEw --------------*/

.container1{
    position: relative;
}

.container1 .slide-container1 .slide1{
     min-height: 100vh;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     gap: 15px;
     padding: 20px 9%;
     padding-bottom: 70px;
}

.container1 .slide-container1 .slide1 .content1{
    flex: 1 1 350px;
}


.container1 .slide-container1 .slide1 .content1 .img1{
    flex: 1 1 500px;
}

.container1 .slide-container1 .slide1 .content1 .img1 img{
    width: 100%;
}







/*---------------------PRODUCT CATEGORIES START-----------------*/

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    margin-top: auto;
    margin-bottom: 40px;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ff523b;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #ff523b;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
  }
  .name:hover{
    font-weight: 900;
  }
 
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }

/*---------------------PRODUCT CATEGORIES END-----------------*/





.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
transform: translateY(-5px);
}

/*---------------------Offer------------------*/

.offer{
    background:radial-gradient(#fff,#fac376);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
padding: 10px;
}

small{
    color: #555 ;
}

/*--------------------------Testimonial--------------*/
.testimonial{
    padding: 100px;

}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.1) ;
    cursor: pointer;
    transition: transform 0.5s;

}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    font-size: 14px;
    color: #555;
}


/*-----------------Brands-----------------*/
.brands{
    margin: 50px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
filter: grayscale(0);
}


/*----------------Footer--------------------------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 10px 0 10px;
    margin-top: 30px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
   width: 180px;
   margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

.footer-col-3 li:hover{
cursor: pointer;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.Copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*--------------Media query for menu--------*/

@media only screen and (max-width: 800px){
    
     nav ul{
        position: absolute;
        top:110px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul a{
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
}


/*--------------All Products----------------------*/
 .row-2{
     justify-content: space-between;
     margin: 100px auto 50px;
 }

 select{
     border: 1px solid #ff523b;
     padding: 5px;
 }

 select:focus{
     outline: none;
 }

 .page-btn{
        margin: 0 auto 80px;
        margin-top: 20px;
 }

 
 .page-btn span{
     display: inline-block;
     border: 1px solid #ff523b;
     margin-left: 10px;
     width: 40px;
     height: 40px;
     text-align: center;
     line-height: 40px;
     cursor: pointer;
 }

 .page-btn span:hover{
    background: #ff523b;
    color:#fff;
 }


 /*---------------------Single Product pages------------------------*/

 .single-product{
     margin-top: 80px;
 }

 .single-product .col-2 img{
     padding: 0;
 }

 .single-product .col-2{
     padding: 0;
 }

  .single-product h4{
      margin: 20px 0;
      font-size: 22px;
      font-weight: bold;

  }
  .single-product select{
      display: block;
      padding: 10px;
      margin-top: 20px;

  }
   
  .single-product .col-2 input{
      width: 50px;
      height: 40px;
      padding-left: 10px;
      font-size: 20px;
      margin-right: 20px;
      border: solid #ff523b;
  }

  input:focus{
      outline: none;
  }
    
  .single-product .fa{
      margin: 10px;
      color: #ff523b;
  }

  .small-img-row{
      display: flex;
      justify-content: space-between;
  }

  .small-img-col{
      flex-basis: 50%;
      cursor: pointer;

  }


  /*-------------------Cart iterms details--------------*/

  .cart-page{
      margin: 80px auto;

  }
  table{
      width: 100%;
      border-collapse: collapse;
  }

  .cart-info{
      display: flex;
      flex-wrap: wrap;
  }

  th{
      text-align: left;
      padding: 5px;
      color: #fff;
      background: #ff523b;
      font-weight: normal;

  }

  td{
      padding: 10px 5px;
  }

  td input{
      width: 40px;
      height: 30px;
      padding: 5px;
  }

  td a{
      color: #ff523b;
      font-size: 12px;

  }

  td img{
      width: 80px;
      height: 80px;
      margin-right: 10px;
  }

  .total-price{
      display: flex;
      justify-content: flex-end;
  }

  .total-price table{
      border-top: 3px solid #ff523b;
      width: 100%;
      max-width:450px;
  }

  td:last-child{
      text-align: right;
  }

  th:last-child{
      text-align: right;
  }



  /*---------------------Account Page----------------------*/

  .account-page{
      padding: 50px 0;
      background:radial-gradient(#fff,#fac376);
      
  }

  .form-container{
      background: #fff;
      width: 300px;
      height: 400px;
      position: relative;
      text-align: center;
      padding: 20px 0;
      margin: auto;
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0, 1);
      overflow: hidden;

  }

  .form-container span{
      font-weight: bold;
      padding: 0 10px;
      color: #555;
      cursor: pointer;
      width: 100px;
      display: inline-block;
  }

  .form-btn{
      display: inline-block;
  }

  .form-container form{
      max-width: 300px;
      padding: 0 20px;
      position: absolute;
      top:130px;
      transition:transform 1s;
  }

   form input{
      width: 100%;
      height: 30px;
      margin: 10px 0;
      padding:0 10px;
      border: 1px solid #ccc;

  }

  form .btn{
      width: 100%;
      border:none;
      cursor: pointer;
      margin: 10px 0;
  }

  form .btn:focus{
      outline: none;

  }

  #LoginForm{
    left:-300px;
  }

  #RegisterForm{
      left: 0;
  }

  form a{
      font-size: 12px;
  }

  #Indicator{
      width: 100px;
      border:none;
      background: #ff523b;
      height:3px;
      margin-top: 8px;
      transform: translateX(100px);
      transition:transform 1s;
  }


  

/*---------------------about Page----------------------*/

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40rem 18rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:40px 47px;
    box-shadow: 10px 10px 18px -8px #aaaaaa, -10px -10px 24px #fff;
    border-radius: 20px;
    height: 600px;
    width: 800px;
}


.container1 img{
    height: 100%;
    width: auto;
    border-radius: 20px;
}

.about_detail{
    margin: 0 45px;
}

.about_detail span{
    color: #ff523b;
    font-size: 25px;
    font-weight: 100px;
}

.about_detail h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 90px;
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.about_detail p{
    color: #777;
    font-size: 15px;
}

.btn_contact{
    margin: 15px 0;
    padding: 8px 20px;
    background-color: transparent;
    border: 1px  solid #ff523b;
    border-radius: 20px;
    letter-spacing: 1px;
    color: #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.btn_contact:hover{
    background-color: #ff523b;
    color: #fff;

} 

.social{
    margin-top: 30px;
    padding: 10px;
    font-size: 25px;
    text-align: left;
    text-decoration: none;
    letter-spacing: 5px;
    
}


.fa-facebook{
    background: #ff523b;
    color: white;
    border-radius:50%;
    width: 30px;
    text-align: center;

}


.fa-facebook:hover{
    transform: translateY(-3px);
    transition: transform 0.5s;
    color: #000;
}


.fa-twitter {
    background: #ff523b;
    color: white;
    border-radius:50%;
    width: 30px;
    text-align: right;
  }

  .fa-twitter:hover{
    transform: translateY(-3px);
    transition: transform 0.5s;
    color: #000;
}

.fa-instagram {
    background:#ff523b;
    color: white;
    border-radius:50%;
    width: 30px;
    text-align:right;
  }

  .fa-instagram:hover{
    transform: translateY(-3px);
    transition: transform 0.5s;
    color: #000;
}


/*---------------------Contact Page----------------------*/

.contact{
position: relative;
min-height: 10vh;
padding: 50px 100px;
display: flex;
justify-content: center;
align-items: left;
flex-direction: column;
background: url(image/bg1.jpg);
background-size: cover;

}

.contact .content1{
    max-width: 800px;
    text-align: center;

}

.contact .content1 h2{
font-size: 26px;
font-weight: 500;
color: #fff;
}

.container2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 30px;
}

.container2 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}


.container2 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}

.container2 .contactInfo .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}

.container2 .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
}

.container2 .contactInfo .box .text p{
    font-weight: bold;
    color: #fff;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}


.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom:2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #ff523b;
    font-size: 12px;
    transform:translateY(-20px);
} 

.btn_contact{
    margin: 15px 0;
    padding: 8px 20px;
    background-color: transparent;
    border: 1px  solid #ff523b;
    border-radius: 20px;
    letter-spacing: 1px;
    color: #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.btn_contact:hover{
    background-color: #ff523b;
    color: #fff;
} 


.contact_map{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;

}
.contact_map iframe{
    width: 100%;
    height: 100%;

}

















/*-------------------Media query  menu for less than 600px--------------*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .single-product .row{
        text-align: left;

    }

    .single-product .col-2{
        padding: 20px 0;
    } 

    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p{
        display: none;

    }


    .about{
        display: block;
        margin-left: auto;
        margin-top:0;
        margin-bottom: 0;
        width: 100%;
    }

    .container1 img{
        display: none;
       

    }

    .about_detail{
        margin-left: auto;
    }

    .about_detail h2{
        font-size: 20px;


    }


    .contact{
        padding: 50px;
    }

    .container2{
        flex-direction: column;
    }

    .container2 .contactInfo{
        margin-bottom: 40px; 
        width: 100%;  
    }

    .contactForm{
        width: 100%;
    }

}